<form
  class="custom-form"
  (ngSubmit)="onSubmit(titleInput.value, requestInput.value, form)"
  #form
>
  <app-control label="Title">
    <input
      type="text"
      id="title"
      name="title"
      class="form-input"
      #titleInput
      #input
    />
  </app-control>
  <app-control label="Request">
    <textarea
      id="request"
      name="request"
      rows="3"
      class="form-textarea"
      #requestInput
      #input
    ></textarea>
  </app-control>
  <p class="form-actions">
    <button type="submit" appButton>
      <span>Submit</span>
      <span class="icon">→</span>
    </button>
  </p>
</form>
