<form
  class="custom-form"
  (ngSubmit)="onSubmit(titleInput.value, requestInput.value)"
>
  <app-control label="Title">
    <input type="text" id="title" name="title" class="form-input" #titleInput />
  </app-control>
  <app-control label="Request">
    <textarea
      id="request"
      name="request"
      rows="3"
      class="form-textarea"
      #requestInput
    ></textarea>
  </app-control>
  <p class="form-actions">
    <button type="submit" appButton>
      <span>Submit</span>
      <span class="icon">→</span>
    </button>
  </p>
</form>
