#tickets {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#tickets ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 15rem;
}

#tickets li {
  margin: 0.5rem 0;
}

#tickets p {
  margin: 0;
  color: #4f4b53;
}

#tickets h2 {
  margin: 0;
  font-size: 1.1rem;
  color: #38343c;
}

@media (min-width: 768px) {
  #tickets {
    flex-direction: row;
  }
}


#tickets li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #f0f4f8, #d9e2ec);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
